{% block body %}
    <div>
        <div class="row">
            <div class="col-sm-12">
                {# {{ dump(commentForm) }} #}
                {{ commentForm }}
            </div>
            <div class="col-sm-12">
                {# {{ form  }} #}
                <h5>CommentForm will be here</h5>
            </div>
        </div>
        
    </div>
{% endblock %}
