{# templates/comment/editComment.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h5>Edit and change your comment then save</h5>
{# {{ comment_txt }} #}
{{ form(form) }}
{# {{ dump(comment) }} #}
{% endblock %}