{# templates/basic/aboutme.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

 {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}
        </div>
{% endif %}

<div class="col-12 subpage_title">
    <h2>{{ title }}</h2>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-4"></div>
    <div class="col-sm-12 col-lg-8 aboutme">Some details about me</div>
</div>
{% endblock %}