{# templates/basic/aboutme.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="col-12 subpage_title">
    <h2>{{ title }}</h2>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-4"></div>
    <div class="col-sm-12 col-lg-8 aboutme">Some details about me</div>
</div>
{% endblock %}