{% extends 'base.html.twig' %}

{% block title %}{{page_name}}{% endblock %}

{% block body %}

<div class="example-wrapper" style="background-color:pink;padding:20px;">
    <h1>This is blogpost and {{ page_name }}</h1>
{% endblock %}
